<html !DOCTYPE
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/dashboardLayout.html}">
<head>
    <title>List Customer</title>
</head>
<body>
<div id="section-main" layout:fragment="layoutsectionmain">
    <div class="col-lg-8">
        <table class="table">
            <thead>
            <tr>
                <th>Provinces</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="province, state : ${provinces}">
                <tr th:classappend= "${state.odd} ? 'success' : 'danger'">
                    <td th:text="${province.name}"  >province</td>
                    <td><span class="glyphicon glyphicon-plus"></span> <span class="glyphicon glyphicon-minus"></span><span class="glyphicon glyphicon-trash"></span></td>
                </tr>
            </th:block>

            </tbody>
        </table>
    </div>
</div>

<div id="paging" layout:fragment="layoutpaging">
    <div class="col-lg-2"></div>
    <div class="col-lg-8" >
        <ul class="pagination" style="float: right;">
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li class="disabled"><a href="#">4</a></li>
            <li><a href="#">5</a></li>
        </ul>
    </div>
    <div class="col-lg-2"></div>
</div>
</body>
</html>