<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>App Fragments</title>
</head>
<body>
<!-- Default Nav menu-->
<div class="col-lg-2" th:fragment="frgNavLeft">
    <ul class="list-group">

        <th:block th:each="cate : ${categories}">
            <li class="list-group-item" th:utext="${cate.name}">..</li>
        </th:block>
<!--        <li class="list-group-item active">Dien thoai</li>-->
<!--        <li class="list-group-item">May tinh bang</li>-->
<!--        <li class="list-group-item">Laptop</li>-->
<!--        <li class="list-group-item">Dien thoai</li>-->
<!--        <li class="list-group-item">Dien thoai</li>-->
    </ul>
</div>

</body>
</html>